
@media (max-width:650px) 
{

  .meme-control{
    font-size: 1.2em;
  }
  .header {
    height: 90px;
}
  .header .btn-toggle-menu {
      display: block;
      color: #000;
  }
  
  .main-nav {
      position: fixed;
      top: 60px;
      background: var(--clr-primary4);
      left: 0;
      width: 100%;
  
  
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: grid-template-rows 1s;
      align-items: end;
      align-content: end;
  }
  
  body.menu-open .main-nav {
      grid-template-rows: 1fr;
  }
  
  .main-nav>ul {
      flex-direction: column;
      min-height: 0;
  }
  .main-nav>ul li {
    border-bottom: 1px solid #000;
  }
  
  .main-nav a {
    
    font-size: 16px;
    padding: 1em;
  }
  .title{
    font-size: 2.7em;
}
}


@media (min-width:650px) {

  .meme-control{
    font-size: 1.4em;
  }
  .main-header {
    height: 60px;
}
.main-nav a {
  width: 100px;
  height: 100px;
  font-size: 1.9em;
}

}
@media ( min-width:1180px) {
    .meme-ediror-content{
        flex-direction: row;
        
      }
      
      .meme-control{
        gap :20px;
      }
      .canvas-container{
        width: 500px;
        height: 500px;
    }
  }
