.gallery-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    
}
.fillter-meme{
    width: 100%;
    font-size: 1.4em;
    height: 1.4em;
}
.file-upload{
    display: none;
}
.file-input-label{
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    color: var(--clr--primary2);
    border: 2px solid black;
}
.key-word{
    background-color: var(--clr-primary3);
    color: var(--clr--primary2);
    gap: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
}