.header{
    background-color: var(--cl-primary1);
    
    color: var(--clr--primary2);
}
.title{
    font-size: 3em;
}

.header .btn-toggle-menu {
    display: none;
    background-color: var(--cl-primary1);
    border: 0;
    font-size: 2em;
}