

.Meme-text{
    height: 3em;
}
.meme-control{
    background-color: rgb(80, 75, 75);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   font-size: 2em;
   padding: 2em;
   border-radius: 30px;
   color: var(--clr--primary2);
   gap: 20px;
    
}
.meme-ediror-content{
    flex-direction: column;
    
}
.color-picker{
    background-color: rgb(80, 75, 75);
    border: 0;
    width: 4em;
    height: 4em;
    
}




.meme-control .downLoad{
    text-decoration: none;
    color: inherit;
    border: 2px solid black;
    padding: 2px;
    background-color: var(--clr-primary3);
 
}

.meme-control button{
    color: inherit;
    font-size: inherit;
    background-color: var(--clr-primary3);
    width: 4em;
    height: 2em;
    border: 0;
}
.meme-control .font-value{
    width: 4em;
    height: 2em;
}
